body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mainNav{
	position: absolute;
	top: 0;
	right: 0;
	z-index:10;
	height: 100px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8em;
}
.mainNav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.mainNav ul li { display: inline; }
.mainNav ul li a { 
	text-decoration: none;
	color:#fff;
	margin-right: 10px;
	margin-left: 10px;
}
.mainNavContact { 
	background: #358445;
	padding: 5px 10px;
}
.mainNav ul li img { 
	max-height: 25px;
}
.heigLogo{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	max-width:50px;
	margin-top:20px;
}
.slidesFixedContent{
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	justify-content:right;
	flex-direction:column;
}
.slidesFixedContent h2{
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
	letter-spacing: 2px;
}
.slidesFixedContent h2:nth-child(2),.slidesFixedContent p{
	color:#fff;
}
.slidesFixedContent .sliderContainer{
  height: 100%;
}
.slidesFixedContent .sliderRow{
	justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.slidesFixedContent .gridCol5{
	display: flex;
	flex-direction: column;
}
.sliderContainer{
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: column;
}
.sliderRow{
	display: flex;
	padding-right: 30px;
	padding-left: 30px;
	justify-content: left;
	max-width: 1100px;
	width: 100%;
	height: 100%;
}
.slidesImageContainer{
	max-width:50%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.slidesImageContainerImage{
	max-width:500px;
	max-height:500px;
}
.sliderDot{
	background:#fff;
	border:#fff 2px solid;
	width:14px;
	height:14px;
	border-radius:100%; 
	padding:0;
	margin-right:8px;
}
.sliderDot:disabled {
  background: transparent;
}
.downloadButton{
	text-decoration: none;
	color:#fff;
	border:1px #fff solid;
	padding: 7px 14px;
	align-self: flex-start;
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;
	margin-right: 30px;
}

.goDown {
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.gridContainer{
	padding: 40px 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gridRow{
	display: flex;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 50px;
	justify-content: center;
	padding: 15px;
	max-width: 1100px;
	width: 100%;
}
.gridCol3{
	flex-basis: 30%;
}
.gridCol4{
	flex-basis: 40%;
}
.gridCol5{
	flex-basis: 50%;
}
.gridCol7{
	flex-basis: 70%;
}
@media (max-width: 800px){
	.gridRow{
		flex-wrap: wrap;
	}
	.gridCol3,.gridCol4,.gridCol5,.gridCol7{
		flex-basis: 100%;
	}
}
.gridRow article{
	padding-left: 15px;
	padding-right: 15px;
}
.advantagesSectionContentLeft h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.advantagesSectionSliderDotsContainer{
	margin-top: 10px;
}
.advantagesSectionSliderDots{
	background:#b4b4b4;
	border:#b4b4b4 2px solid;
	width:14px;
	height:14px;
	border-radius:100%; 
	padding:0;
	margin-right:8px;
}
.advantagesSectionSliderDots:disabled{
	background: #fff;
}
.videoContainer {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.videoContainer iframe, .videoContainer object, .videoContainer embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.paletteContainer{
	background: #dce2e7;
	color:#8a959e;
}
.paletteSectionContentLeft h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.itemContainer{
	display: flex;
	color:#000;
}
.itemContainer img{
	align-self: flex-start;
	max-width: 50px;
}
.itemContainer p{
	padding-left: 8px;
	margin-top: 4px;
	font-size: 0.7em;
}
.paletteDownloadButton{
	text-decoration: none;
	color:#8a959e;
	border:1px #8a959e solid;
	padding: 7px 14px;
	align-self: flex-end;
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;
}
@media (max-width: 800px){
	.itemContainer p{
		margin-top: 8px;
		font-size: 0.9em;
		margin-bottom: 0;
	}
	.paletteGroup{
		padding-bottom: 0;
		padding-top: 0;
	}
	.itemContainer{
		margin-bottom: 5px;
	}
	.paletteDownloadButton{
		margin-top: 20px;
	}
}
.informatonsContainer{
	color:#fff;
	background: #000;
}
.informatonsContainer h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.informatonsContainer p{
	margin-bottom: 50px;
}
.contactFormContainer{
	background: #fff;
	color:#000;
}
.informatonsContainerList h2{
	font-size: 0.9em;
	margin-bottom: 4px;
}
.informatonsContainerList p{
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 20px;
}
.contactFormContainer h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contactFormHeigLogo{
	max-width: 220px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.contactList{
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}
.contactForm{
	display: flex;
	flex-direction:column;
}
.contactForm input[type="text"], .contactForm textarea{
	padding: 12px 9px;
	margin-bottom: 20px;
}
.contactForm input[type="checkbox"]{
	padding: 6px 3px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.contactForm input[type="text"]:first-child{
	margin-top: 20px;
}
.contactForm input[type="submit"]{
	border:none;
	background: #dce2e7;
	padding: 15px 20px;
	text-transform: uppercase;
	align-self: flex-start;
	font-weight: bold;
	margin-top: 30px;
}

.newsLetterContainer{
	color:#8a959e;
	background: #212121;
}
.newsLetterContainer h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.newsLetterContainer p{
	margin-bottom: 50px;
}
.newsLetterForm{
	display: flex;
}
.newsLetterForm input[type="text"]{
	padding: 8px 15px;
	margin-bottom: 20px;
	width: 220px;
}
.newsLetterForm input[type="submit"]{
	border:none;
	background: #dce2e7;
	padding: 10px 15px;
	text-transform: uppercase;
	align-self: flex-start;
	font-weight: bold;
	margin-left:25px; 
}
.newsLetterContainer .socialIcons{
	display: flex;
}
.newsLetterContainer .socialIcons img{
	height: 30px;
	margin-right: 20px;
}

.footerContainer{
	color:#fff;
	background: #000;
	font-size: 0.6em;
}
.footerContainer img{
	float: right;
	max-width: 100px;	
}
