body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mainNav{
	position: absolute;
	top: 0;
	right: 0;
	z-index:10;
	height: 100px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.mainNav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.mainNav ul li { display: inline; }
.mainNav ul li a { 
	text-decoration: none;
	color:#fff;
	margin-right: 10px;
	margin-left: 10px;
}
.heigLogo{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	max-width:150px;
	margin-top:20px;
}
.slidesFixedContent{
	position:absolute;
	top:0;
	right:0;
	height:100vh;
	width:50%;
	display:flex;
	justify-content:center;
	flex-direction:column;
}
.slidesFixedContent h2{
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}
.slidesFixedContent h2:nth-child(2),.slidesFixedContent p{
	color:#fff;
}
.slidesImageContainer{
	max-width:50%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}
.slidesImageContainerImage{
	max-width:500px;
	max-height:500px;
	height:auto;
}
.sliderDot{
	background:#fff;
	border:#fff 2px solid;
	width:14px;
	height:14px;
	border-radius:100%; 
	padding:0;
	margin-right:8px;
}
.sliderDot:disabled {
  background: transparent;
}
.downloadButton{
	text-decoration: none;
	color:#fff;
	border:1px #fff solid;
	padding: 7px 14px;
	align-self: flex-start;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 50px;
}

.goDown {
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.gridContainer{
	padding: 40px 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gridRow{
	display: flex;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 50px;
	justify-content: center;
	padding: 15px;
	max-width: 1100px;
}
.gridCol4{
	flex-basis: 40%;
}
.gridRow article{
	padding-left: 15px;
	padding-right: 15px;
}
.advantagesSectionContentLeft{
	flex-basis: 50%;
}
.advantagesSectionContentLeft h1{
	text-transform: uppercase;
}
.advantagesSectionContentRight{
	flex-basis: 50%;
}
.advantagesSectionSliderDots{
	background:#b4b4b4;
	border:#b4b4b4 2px solid;
	width:14px;
	height:14px;
	border-radius:100%; 
	padding:0;
	margin-right:8px;
}
.advantagesSectionSliderDots:disabled{
	background: #fff;
}
.videoContainer {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.videoContainer iframe, .videoContainer object, .videoContainer embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.paletteContainer{
	background: #dce2e7;
}
.paletteSectionContentLeft{
	flex-basis: 30%;
}
.paletteSectionContentLeft h1{
	text-transform: uppercase;
}
.paletteSectionContentRight{
	flex-basis: 70%;
}
.itemContainer{
	display: flex;
}
.itemContainer img{
	align-self: flex-start;
	max-width: 50px;
}
.itemContainer p{
	padding-left: 8px;
	margin-top: 4px;
	font-size: 0.7em;
}
.downloadShowButton{
	text-decoration: none;
	color:#ccc;
	border:1px #ccc solid;
	padding: 7px 14px;
	align-self: flex-end;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 50px;
}